*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
  --ff-primary: 'Amiko', sans-serif;
  
  --fw-reg: 400;
  --fw-semibold: 600;
  --fw-bold: 700;
  
  --clr-light: #F4EBFF;
  --clr-dark: #140816;
  --clr-accent: #A677E0;
  --clr-accent-transparent: #a677e04d;
  --clr-gradient-light: #5B3F7E;

  --fs-h1: 8rem;
  --fs-h2: 5rem;
  --fs-h3: 3rem;
  --fs-h4: 1.75rem;
  --fs-body: 1.5rem;

  --ts: var(--clr-dark) 0.05em 0.05em 0.03em;
}

/* When screen is smaller than 1000px */
@media (max-width: 1000px) {
  :root {
    --fs-h1: 4rem;
    --fs-h2: 3rem;
    --fs-h3: 2rem;
    --fs-h4: 1.5rem;
    --fs-body: 1rem;
  }
  .nav__list > .nav__burger {
    display: inline;
  }
  .nav__list > .nav__item {
    display: none;
  }
  .section__wrapper > .about__body {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .about__body > .about__image {
    width: 60%;
    order: 2;
  }
  .about__body > .about__text {
    text-align: center;
    width: auto;
    order: 1;
  }
}

body {
  color: var(--clr-light);
  font-family: var(--ff-primary);
  font-weight: normal;
  margin: 0;
  /* font-size: var(--fs-body); */
  /* line-height: 1.6; */
}

img {
  display: block;
  max-width: 100%;
}

h1, h2, h3, h4 {
  text-shadow: var(--ts);
}

h1 {font-size: var(--fs-h1);}
h2 {font-size: var(--fs-h2);}
h3 {font-size: var(--fs-h3);}
h4 {font-size: var(--fs-h4);}
p {font-size: var(--fs-body);}

.home {
  background-image: url(images/background.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 32fr auto 8fr 8fr 8fr 8fr;
}

header {
  margin-top: 0;
  padding: 2.5rem;
  display: flex;
  justify-content: space-between;
  grid-row-start: 1;
  height: min-content;
}

.logo {
  margin: auto 0;
  /* padding: 0; */
  font-weight: var(--fw-reg);
}

.nav {
  margin: auto 0;
}

.nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav__burger {
  display: none;
  background: transparent;
  border: transparent;
  cursor: pointer;
}

.nav__item {
  font-size: var(--fs-body);
  margin: 0.75em;
  display: inline;
  text-shadow: var(--ts);
}

.nav__link {
  color: var(--clr-light);
}

a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: none; color: var(--clr-accent);}
a:active {text-decoration: none;}

.home__title{
  margin: 0 0.75em;
  padding: 0;
  text-align: center;
  grid-row-start: 2;
  justify-self: center;
  align-self: center;
}

.home__subtitle {
  margin: 0 0.75em;
  padding: 0;
  text-align: center;
  grid-row-start: 3;
  justify-self: center;
  align-self: center;
}

.home__arrow {
  width: 3rem;
  grid-row-start: 5;
  justify-self: center;
  align-self: center;
}

.content__wrapper {
  background: linear-gradient(var(--clr-dark), var(--clr-gradient-light));
}

.about {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section__title {
  margin: 0;
  padding: 0 0 0.75em 0;
  text-align: center;
  color: var(--clr-accent);
  text-decoration: underline;
  text-underline-offset: 0.1em;
}

.about__body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 0 2.5rem;
}

.about__image {
  width: 30%;
  height: 30%;
  border: solid 0.25rem var(--clr-accent);
  border-radius: 1rem;
  background-color: var(--clr-accent-transparent);
}

.about__text {
  text-align: end;
  width: 35rem;
  margin: auto 0;
}